<h2>Neuer Artikel</h2>
<form #form="ngForm" (ngSubmit)="onSubmit(form)" class="article-form">
  <div class="p-field">
    <label for="title">Titel</label>
    <input id="title" type="text" pInputText [(ngModel)]="articleData.title" name="title" required>
  </div>

  <div class="p-field">
    <label for="description">Beschreibung</label>
    <textarea rows="5" cols="30" pInputTextarea id="description" [(ngModel)]="articleData.description" name="description" required></textarea>
  </div>

  <div class="p-field">
    <label for="price">Preis</label>
    <p-inputNumber name="price" id="price" [(ngModel)]="articleData.price" mode="currency" inputId="currency-germany" currency="EUR" locale="de-DE" [min]="0" [required]="true" [showButtons]="true"></p-inputNumber>
  </div>

  <div class="p-field">
    <label for="stockQuantity">Lagerbestand</label>
    <p-inputNumber name="stockQuantity" id="stockQuantity" [(ngModel)]="articleData.stockQuantity" [min]="0" [required]="true" [showButtons]="true"></p-inputNumber>
  </div>

  <div class="p-field">
    <label for="brand">Marke</label>
    <input id="brand" type="text" pInputText [(ngModel)]="articleData.brand" name="brand" required>
  </div>

  <div class="p-field">
    <label for="searchingKeywords">Suchbegriffe</label>
    <input id="searchingKeywords" type="text" pInputText [(ngModel)]="articleData.searchingKeywords" name="searchingKeywords" placeholder="Suchbegriffe getrennt mit Leerzeichen"required>
  </div>

  <div *ngIf="!form.valid" class="error-message">
    Bitte füllen Sie alle Felder aus.
  </div>
  <p-button type="submit" label="Artikel erstellen" [disabled]="!form.valid" severity="success"></p-button>
</form>
