.orders-card {
  width: 80%;
  max-width: 800px;
  padding: 1rem;
  background-color: #ffffff;
  border-radius: 4px;
  margin: 2rem auto;
}

.orders-card h1 {
  margin-bottom: 1rem;
}

.orders-card p {
  margin-bottom: 8px;
}

.orders-card span {
  display: inline-block;
  width: 80px;
  text-align: right;
  margin-right: 0.5rem;
}

.profile-info {
  margin-bottom: 1rem;
}

.profile-info h3 {
  margin-bottom: 1rem;
}

p-dropdown {
  width: 100%;
  margin-bottom: 1rem;
}

.header {
  display: flex;
  justify-content: space-between;
  align-items: center;
  margin-bottom: 1rem;
}

.order-details {
  display: flex;
  justify-content: space-between;
  align-items: center;
  margin-bottom: 1rem;
}

.total-price {
  font-size: 1.25em;
  font-weight: bold;
}

.status-dropdown {
  display: flex;
  align-items: center;
  margin-right: 1rem;
}

.status-dropdown span {
  margin-right: 0.5rem;
}

.buttons {
  display: flex;
  justify-content: space-between;
  align-items: center;
  gap: 1rem;
}

p-dropdown{
  margin-bottom: 0;
}
