<div class="profile-container">
  <p-card class="profile-card">
    <div class="profile-header">
      <img src="https://via.placeholder.com/150" alt="Profile Picture" class="profile-image">
      <div class="profile-name-email">
        <h2 *ngIf="isBuyer"><input [(ngModel)]="firstName" name="firstName" [readonly]="!isEditing"><input [(ngModel)]="lastName" name="lastName" [readonly]="!isEditing"></h2>
        <h2 *ngIf="!isBuyer"><input [(ngModel)]="brand" name="brand" [readonly]="!isEditing"></h2>
        <p>Email: <input [(ngModel)]="email" name="email" [readonly]="!isEditing"></p>
        <p>Password: <input [(ngModel)]="password" name="password" [readonly]="!isEditing" [type]="isEditing ? 'text' : 'password'"></p>
      </div>
    </div>
    <div class="profile-info">
      <h3>Additional Information</h3>
      <p><label>Zip Code:</label> <input [(ngModel)]="zipCode" name="zipCode" [readonly]="!isEditing"></p>
      <p><label>City:</label> <input [(ngModel)]="city" name="city" [readonly]="!isEditing"></p>
      <p><label>Address:</label> <input [(ngModel)]="address" name="address" [readonly]="!isEditing"></p>
      <p><label>IBAN:</label> <input [(ngModel)]="iban" name="iban" [readonly]="!isEditing"></p>
    </div>
    <div class="profile-actions">
      <p-toast></p-toast>
      <p-confirmPopup>
        <ng-template pTemplate="content" let-message>
          <div class="flex flex-column align-items-center w-full gap-3 border-bottom-1 surface-border p-3 mb-3">
            <p>{{ message.message }}</p>
          </div>
        </ng-template>
      </p-confirmPopup>

      <p-button (click)="confirm($event)" label="Delete" [rounded]="true" severity="danger"></p-button>
      <p-button (onClick)="logOut()" label="Log Out" [rounded]="true" severity="warning"></p-button>
      <p-button label="{{editLabel}}" (onClick)="isEditing ? onSaveChanges() : onEditProfile()" [rounded]="true"></p-button>

    </div>
  </p-card>

  <p-card class="orders-card" *ngIf="isBuyer">
    <h3>Order History</h3>
    <p-accordion *ngIf="(toBePayedOrdersBuyer.length !==0 || payedOrdersBuyer.length!==0) else noOrders">
      <p-accordionTab header="Placed">
        <p-table [value]="toBePayedOrdersBuyer" dataKey="id" *ngIf="toBePayedOrdersBuyer.length!=0">
          <ng-template pTemplate="header">
            <tr>
              <th>Seller</th>
              <th>Date</th>
              <th>Status</th>
              <th>Total</th>
            </tr>
          </ng-template>
          <ng-template pTemplate="body" let-order>
            <tr>
              <td>{{order.seller}}</td>
              <td>{{order.orderDate|date}}</td>
              <td>{{order.status}}</td>
              <td>{{order.total}}</td>
            </tr>
          </ng-template>
        </p-table>
      </p-accordionTab>

      <p-accordionTab header="Bezahlt" *ngIf="payedOrdersBuyer.length!=0">
        <p-table [value]="payedOrdersBuyer" dataKey="id">
          <ng-template pTemplate="header">
            <tr>
              <th>Seller</th>
              <th>Date</th>
              <th>Status</th>
              <th>Total</th>
            </tr>
          </ng-template>
          <ng-template pTemplate="body" let-order>
            <tr>
              <td>{{order.seller}}</td>
              <td>{{order.orderDate| date}}</td>
              <td>{{order.status}}</td>
              <td>{{order.total}}</td>
            </tr>
          </ng-template>
        </p-table>
      </p-accordionTab>
    </p-accordion>
  </p-card>

  <!--TODO Artikel Card fixen-->
  <p-card class="article-card" *ngIf="!isBuyer">
    <div class="article-heading-button">
      <h3>Your articles</h3>
      <p-button [rounded]="true" [routerLink]="['/newarticle']" severity="success">New article</p-button>
    </div>
    <p-accordion *ngIf="(listedArticles.length !==0 || outOfStockArticles.length!==0 || deliveredOrders.length!==0) else noArticles">
      <p-accordionTab header="Listed" *ngIf="listedArticles.length!==0">
        <p-table [value]="listedArticles" dataKey="id">
          <ng-template pTemplate="header">
            <tr>
              <th>Name</th>
              <th>Anzahl auf Lager</th>
              <th>Preis</th>
              <th></th>
            </tr>
          </ng-template>
          <ng-template pTemplate="body" let-article>
            <tr>
              <td>{{ article.name }}</td>
              <td>{{ article.quantity }}</td>
              <td>{{ article.price }}</td>
              <td>
                <p-button icon="pi pi-pencil" [routerLink]="['/newarticle']" [rounded]="true" severity="secondary" [outlined]="true"></p-button>
              </td>
            </tr>
          </ng-template>
        </p-table>
      </p-accordionTab>
      <p-accordionTab header="Out of stock" *ngIf="outOfStockArticles.length!==0">
        <p-table [value]="outOfStockArticles" dataKey="id">
          <ng-template pTemplate="header">
            <tr>
              <th>Name</th>
              <th>Anzahl auf Lager</th>
              <th>Preis</th>
              <th></th>
            </tr>
          </ng-template>
          <ng-template pTemplate="body" let-article>
            <tr>
              <td>{{ article.name }}</td>
              <td>{{ article.quantity }}</td>
              <td>{{ article.price }}</td>
              <td>
                <p-button icon="pi pi-pencil" [routerLink]="['/newarticle']" [rounded]="true" severity="secondary" [outlined]="true"></p-button>
              </td>
            </tr>
          </ng-template>
        </p-table>
      </p-accordionTab>
      <p-accordionTab header="Hidden" *ngIf="hiddenArticles.length!==0">
        <p-table [value]="hiddenArticles" dataKey="id">
          <ng-template pTemplate="header">
            <tr>
              <th>Name</th>
              <th>Anzahl auf Lager</th>
              <th>Preis</th>
              <th></th>
            </tr>
          </ng-template>
          <ng-template pTemplate="body" let-article>
            <tr>
              <td>{{ article.name }}</td>
              <td>{{ article.quantity }}</td>
              <td>{{ article.price }}</td>
              <td>
                <p-button icon="pi pi-pencil" [routerLink]="['/newarticle']" [rounded]="true" severity="secondary" [outlined]="true"></p-button>
              </td>
            </tr>
          </ng-template>
        </p-table>
      </p-accordionTab>
    </p-accordion>
  </p-card>
  <p-card class="orders-card" *ngIf="!isBuyer">
    <h3>Orders</h3>
    <p-accordion *ngIf="(placedOrders.length !==0 || payedOrders.length!==0 || deliveredOrders.length!==0) else noOrders">
      <p-accordionTab header="Placed" *ngIf="placedOrders.length!==0">
        <p-table [value]="placedOrders" dataKey="id">
          <ng-template pTemplate="header">
            <tr>
              <th>customer</th>
              <th>Product Count</th>
              <th>Total</th>
              <th>Payed?</th>
              <th>Cancel?</th>
              <th>Details</th>
            </tr>
          </ng-template>
          <ng-template pTemplate="body" let-order>
            <tr>
              <td>{{ order.buyer }}</td>
              <td>{{ order.productCount }}</td>
              <td>{{ order.total }}</td>
              <td>
                <p-button icon="pi pi-check" [rounded]="true" severity="success" [outlined]="true" (click)="confirmPayed(order.orderId)"></p-button>
              </td>
              <td>
                <p-button icon="pi pi-times" [rounded]="true" severity="danger" [outlined]="true" (click)="confirmCancel(order.orderId)"></p-button>
              </td>
              <td>
                <p-button icon="pi pi-info-circle" [rounded]="true" [outlined]="true" (click)="orderDetail(order.orderId)"></p-button>
              </td>
            </tr>
          </ng-template>
        </p-table>
      </p-accordionTab>
      <p-confirmDialog header="Bestätigung" icon="pi pi-exclamation-triangle" width="425"></p-confirmDialog>
      <p-accordionTab header="Payed"  *ngIf="payedOrders.length!==0">
        <p-table [value]="payedOrders" dataKey="id">
          <ng-template pTemplate="header">
            <tr>
              <th>Customer</th>
              <th>Product Count</th>
              <th>Total</th>
              <th>Shipped?</th>
              <th>Cancel?</th>
              <th>Details</th>
            </tr>
          </ng-template>
          <ng-template pTemplate="body" let-order>
            <tr>
              <td>{{ order.buyer }}</td>
              <td>{{ order.productCount }}</td>
              <td>{{ order.total }}</td>
              <td>
                <p-button icon="pi pi-check" [rounded]="true" severity="success" [outlined]="true" (click)="confirmShipped(order.orderId)"></p-button>
              </td>
              <td>
                <p-button icon="pi pi-times" [rounded]="true" severity="danger" [outlined]="true" (click)="confirmCancel(order.orderId)"></p-button>
              </td>
              <td>
                <p-button icon="pi pi-info-circle" [rounded]="true" [outlined]="true" (click)="orderDetail(order.orderId)"></p-button>
              </td>
            </tr>
          </ng-template>
        </p-table>
      </p-accordionTab>
      <p-accordionTab header="Shipped"  *ngIf="shippedOrders.length!==0">
      <p-table [value]="shippedOrders" dataKey="id">
        <ng-template pTemplate="header">
          <tr>
            <th>Customer</th>
            <th>Product Count</th>
            <th>Total</th>
            <th>Delivered?</th>
            <th>Details</th>
          </tr>
        </ng-template>
        <ng-template pTemplate="body" let-order>
          <tr>
            <td>{{ order.buyer }}</td>
            <td>{{ order.productCount }}</td>
            <td>{{ order.total }}</td>
            <td>
              <p-button icon="pi pi-check" [rounded]="true" severity="success" [outlined]="true" (click)="confirmDelivered(order.orderId)"></p-button>
            </td>
            <td>
              <p-button icon="pi pi-info-circle" [rounded]="true" [outlined]="true" routerLink="/orderDetailed"></p-button>
            </td>
          </tr>
        </ng-template>
      </p-table>
      </p-accordionTab>

      <p-accordionTab header="Delivered" *ngIf="deliveredOrders.length!==0">
        <p-table [value]="deliveredOrders" dataKey="id">
          <ng-template pTemplate="header">
            <tr>
              <th>Customer</th>
              <th>Product Count</th>
              <th>Total</th>
              <th>Details</th>
            </tr>
          </ng-template>
          <ng-template pTemplate="body" let-order>
            <tr>
              <td>{{ order.buyer }}</td>
              <td>{{ order.productCount }}</td>
              <td>{{ order.total }}</td>
              <td>
                <p-button icon="pi pi-info-circle" [rounded]="true" [outlined]="true" routerLink="/orderDetailed"></p-button>
              </td>
            </tr>
          </ng-template>
        </p-table>
      </p-accordionTab>
      <p-accordionTab header="Canceled" *ngIf="canceledOrders.length!==0">
        <p-table [value]="canceledOrders" dataKey="id">
          <ng-template pTemplate="header">
            <tr>
              <th>Customer</th>
              <th>Product Count</th>
              <th>Total</th>
              <th>Details</th>
            </tr>
          </ng-template>
          <ng-template pTemplate="body" let-order>
            <tr>
              <td>{{ order.buyer }}</td>
              <td>{{ order.productCount }}</td>
              <td>{{ order.total }}</td>
              <td>
                <p-button icon="pi pi-info-circle" [rounded]="true" [outlined]="true" routerLink="/orderDetailed"></p-button>
              </td>
            </tr>
          </ng-template>
        </p-table>
      </p-accordionTab>
    </p-accordion>
  </p-card>

</div>
<ng-template #noOrders>
  <p>Currently no existing Orders</p>
</ng-template>
<ng-template #noArticles>
  <p>Currently no existing Articles</p>
</ng-template>
