<div class="profile-container">
  <p-card class="profile-card">
    <div class="profile-header">
      <img src="https://via.placeholder.com/150" alt="Profile Picture" class="profile-image">
      <div class="profile-name-email">
        <h2 *ngIf="isBuyer"><input [(ngModel)]="firstName" name="firstName" [readonly]="!isEditing"><input [(ngModel)]="lastName" name="lastName" [readonly]="!isEditing"></h2>
        <h2 *ngIf="!isBuyer"><input [(ngModel)]="brand" name="brand" [readonly]="!isEditing"></h2>
        <p>Email: <input [(ngModel)]="email" name="email" [readonly]="!isEditing"></p>
        <p>Password: <input [(ngModel)]="password" name="password" [readonly]="!isEditing" [type]="isEditing ? 'text' : 'password'"></p>
      </div>
    </div>
    <div class="profile-info">
      <h3>Additional Information</h3>
      <p><label>Zip Code:</label> <input [(ngModel)]="zipCode" name="zipCode" [readonly]="!isEditing"></p>
      <p><label>City:</label> <input [(ngModel)]="city" name="city" [readonly]="!isEditing"></p>
      <p><label>Address:</label> <input [(ngModel)]="address" name="address" [readonly]="!isEditing"></p>
      <p><label>IBAN:</label> <input [(ngModel)]="iban" name="iban" [readonly]="!isEditing"></p>
    </div>
    <!-- TODO bitte hier den Log out button rot nach links -->
    <div class="profile-actions">
      <button (click) ="logOut()" pButton type="button" label="Log Out" class="p-button-rounded p-button-info"></button>
      <button pButton type="button" label="{{editLabel}}" class="p-button-rounded p-button-info" (click)="isEditing ? onSaveChanges() : onEditProfile()"></button>
    </div>
  </p-card>

  <p-card class="orders-card" *ngIf="isBuyer">
    <h3>Order History</h3>
    <p-table [value]="orders" dataKey="id">
      <ng-template pTemplate="header">
        <tr>
          <th>Order ID</th>
          <th>Date</th>
          <th>Status</th>
          <th>Total</th>
        </tr>
      </ng-template>
      <ng-template pTemplate="body" let-order>
        <tr>
          <td>{{order._id}}</td>
          <td>{{order.orderDate}}</td>
          <td>{{order.status}}</td>
          <td>{{order.totalAmount}}</td>
        </tr>
      </ng-template>
    </p-table>
  </p-card>
</div>
