<div class="profile-container">
  <p-card class="profile-card">
    <div class="profile-header">
      <img src="https://via.placeholder.com/150" alt="Profile Picture" class="profile-image">
      <div class="profile-name-email">
        <h2>{{firstName}} {{lastName}}</h2>
        <p>{{email}}</p>
        <p>password: {{password}}</p>
      </div>
    </div>
    <div class="profile-info">
      <h3>Additional Information</h3>
      <p>Age: {{age}}</p>
      <p>City: {{zipCode}} {{city}}</p>
      <p>Address: {{address}}</p>
      <p>IBAN: {{iban}}</p>
    </div>
    <div class="profile-actions">
      <button pButton type="button" label="Edit Profile" class="p-button-rounded p-button-info"></button>
    </div>
  </p-card>

  <p-card class="orders-card">
    <h3>Order History</h3>
    <p-table [value]="orders" dataKey="id">
      <ng-template pTemplate="header">
        <tr>
          <th>Order ID</th>
          <th>Date</th>
          <th>Status</th>
          <th>Total</th>
        </tr>
      </ng-template>
      <ng-template pTemplate="body" let-order>
        <tr>
          <td>{{order._id}}</td>
          <td>{{order.orderDate}}</td>
          <td>{{order.status}}</td>
          <td>{{order.totalAmount}}</td>
        </tr>
      </ng-template>
    </p-table>
  </p-card>
</div>
