<h2>Registrierung</h2>

<form (ngSubmit)="onSubmit()" class="registration-form">
  <div class="p-field">
    <label for="username">Benutzername</label>
    <input id="username" type="text" pInputText [(ngModel)]="userData.username" name="username" required>
  </div>

  <div class="p-field">
    <label for="email">E-Mail</label>
    <input id="email" type="email" pInputText [(ngModel)]="userData.email" name="email" required>
  </div>

  <div class="p-field">
    <label for="password">Passwort</label>
    <p-password id="password" [(ngModel)]="userData.password" name="password" [toggleMask]="true" required></p-password>
  </div>

  <div class="p-field">
    <label for="userType">Nutzerrolle</label>
    <p-dropdown id="userType" [(ngModel)]="userData.userType" [options]="userTypes" optionLabel="label" placeholder="Wählen" [ngModelOptions]="{ standalone: true }"></p-dropdown>
  </div>

  <p-button type="submit" label="Registrieren"></p-button>
</form>
