form {
  border: 1px solid #ccc;
  border-radius: 5px;
  box-shadow: 0 2px 5px rgba(0, 0, 0, 0.1);
}

.p-field {
  margin-bottom: 1.5em;
}

button {
  margin-top: 1em;
}

h2, form {
  max-width: 400px;
  margin: 0 auto;
  padding: 20px;
}
