.product-display {
  cursor: pointer;
  display: flex;
  flex-direction: row;
  align-items: flex-start;
  width: 100%;
  padding: 16px;
  border-bottom: 1px solid #e0e0e0;
}


.product-image {
  flex: 1;
  max-width: 100px;
  display: flex;
  align-items: center;
  justify-content: center;
  margin: auto;
}

.product-image img {
  width: 100%;
  height: auto;
}

.product-details {
  flex: 2;
  margin-left: 16px;
  display: flex;
  flex-direction: column;
}

.product-price-add {
  flex: 1;
  display: flex;
  flex-direction: column;
  align-items: flex-end;
  justify-content: center;
  max-width: 150px;
}

.product-price {
  font-size: 24px;
  font-weight: bold;
  margin-top: 0;
  margin-bottom: 16px;
}

.product-description, .product-name {
  margin-top: 0;
  margin-bottom: 0;
  overflow: hidden;
  text-overflow: ellipsis;
  display: -webkit-box;
  -webkit-line-clamp: 2;
  -webkit-box-orient: vertical;
  max-height: 3em;
}
.product-name {
  -webkit-line-clamp: 1;
}

.product-description {
  margin-top: 8px;
}

.product-details,
.product-price-add {
  height: 150px;
  overflow: hidden;
  flex: 1;
}
