<div class="product-display p-card" (click)="onTitleClicked()">
  <div class="product-image">
    <img [src]="product.image" alt="{{product.name}}">
  </div>
  <div class="product-details">
    <h2 class="product-name">{{product.name}}</h2>
    <p class="product-description">{{product.description}}</p>
  </div>
  <div class="product-price-add">
    <p class="product-price">{{product.price}}€</p>
    <div *ngIf="!isSeller else SignInAsBuyer">
      <div *ngIf="stockQuantity!==0 else OutOfStock">
        <p-button label="Add to basket" class="p-button-rounded p-button-success add-to-cart-btn" (onClick)="addToCart($event)"></p-button>
      </div>
    </div>

    <ng-template #OutOfStock>
      <div>
        <p>Out of Stock</p>
      </div>
    </ng-template>
    <ng-template #SignInAsBuyer>
      <div >
        <p-button label="Sign in as buyer" class="p-button-rounded p-button-success sign-in-button" severity="warning" [routerLink]="'/signin'"></p-button>
      </div>
    </ng-template>
  </div>
</div>
