<div class="article-details">
  <div class="image-container">
    <img src="../../../../assets/ArticlePic.png" alt="Dummy-Bild" class="p-d-block p-mx-auto">
  </div>
  <div class="description-container">
    <h2>{{productName}}</h2>
    <p>{{productDescription}}</p>
  </div>
  <div class="actions-container">
    <h3>Preis: {{productPrice}} €</h3>
    <div *ngIf="!isSeller else SignInAsBuyer" class="add-to-cart">
      <p-inputNumber [(ngModel)]="selectedQuantity" [showButtons]="true" [min]="1" [max]=productStockQuantity inputId="quantity" class="quantity-input"> </p-inputNumber>
      <p-button label="In den Warenkorb" (click)="addToCart()" class="p-mb-2"></p-button>
    </div>
    <p-button label="Zum Verkäuferprofil" (click)="goToSellerProfile()"></p-button>
  </div>

  <ng-template #SignInAsBuyer>
    <div class="add-to-cart">
      <p-button label="Sign in as buyer to add the product to the basket" class="p-mb-2" [routerLink]="'/signin'"></p-button>
    </div>
  </ng-template>
  <p-messages [(value)]="messages" [enableService]="false" [closable]="false"></p-messages>
</div>
