.article-container {
  display: flex;
  flex-wrap: wrap;
}

.article-row {
  flex: 0 0 100%;
  margin-right: 20px;
  margin-bottom: 20px;
}

.articles-container {
  display: grid;
  grid-template-columns: 1fr;
  grid-gap: 20px;
}

@media (min-width: 850px) {
  .articles-container {
    grid-template-columns: repeat(2, 1fr);
  }
}

@media (min-width: 1150px) {
  .articles-container {
    grid-template-columns: repeat(3, 1fr);
  }
}

.clearfix::after {
  content: "";
  display: table;
  clear: both;
}

