<div class="p-d-flex p-jc-between p-ai-center header">

  <div class="p-d-flex p-ai-center">
    <button pButton type="button" class="p-button-rounded p-button-text" [icon]="'pi pi-shopping-cart'" (click)="onCartClick()"></button>
  </div>

  <span class="p-input-icon-left search-bar">
    <input pInputText type="text" placeholder="Suche" [(ngModel)]="searchText" (keydown.enter)="onSearch()">
    <i class="pi pi-search" (click)="onSearch()"></i>
  </span>

  <div class="p-d-flex p-ai-center">
    <button pButton type="button" class="p-button-rounded p-button-text" [icon]="'pi pi-user'" (click)="onProfileClick()"></button>
  </div>

</div>
