<div class="p-d-flex p-jc-between p-ai-center header">

  <div class="p-d-flex p-ai-center">
    <button pButton type="button" class="p-button-rounded p-button-text" [icon]="'pi pi-home'" routerLink="/"> </button>
  </div>

  <span class="p-input-icon-left search-bar">
    <input pInputText type="text" placeholder="Suche" [(ngModel)]="searchText" (keydown.enter)="onSearch()">
    <i class="pi pi-search" (keyup.enter)="onSearch()" (click)="onSearch()" tabindex="0"></i>
  </span>

  <div class="p-d-flex p-ai-center">
    <!-- TODO: routerLink zu Warenkorb Seite -->
    <button pButton type="button" class="p-button-rounded p-button-text" [icon]="'pi pi-shopping-cart'"> </button>
    <!-- TODO: routerLink zu Profil Seite -->
    <button pButton type="button" class="p-button-rounded p-button-text" [icon]="'pi pi-user'" > </button>
  </div>

</div>
