<div class="cart-container">
  <p-card class="cart-card" *ngIf="!isCartEmpty">
    <h2>Cart</h2>
    <p-table [value]="cartItems" dataKey="id">
      <ng-template pTemplate="header">
        <tr>
          <th>Name</th>
          <th>Unit price</th>
          <th>Quantity</th>
          <th>Total</th>
          <th>Delete</th>
        </tr>
      </ng-template>
      <ng-template pTemplate="body" let-cartItem>
        <tr>
          <td>{{cartItem.name}}</td>
          <td>{{cartItem.price}}€</td>
          <td>
            <p-inputNumber [(ngModel)]="cartItem.quantity" [min]="1" [max]=1 (ngModelChange)="onQuantityChange($event, cartItem.id)"></p-inputNumber>
          </td>
          <td>{{cartItem.total}}€</td>
          <td>
            <button pButton pRipple class="p-button-rounded p-button-danger" icon="pi pi-trash" (click)="removeFromCart(cartItem.id)"></button>
          </td>
        </tr>
      </ng-template>
    </p-table>
    <div class="cart-total">
      <h3>Total: {{totalAmount}}€</h3>
    </div>
    <div class="cart-actions">
      <button pButton type="button" label="Complete Order" class="p-button-rounded p-button-success" (click)="confirmOrder()"></button>
    </div>
  </p-card>
  <p-confirmDialog header="Bestätigung" icon="pi pi-exclamation-triangle" width="425"></p-confirmDialog>
  <p-card *ngIf="isCartEmpty">
    <p>Your Cart is currently empty</p>
  </p-card>
</div>
